@media (max-width: 1430px) {
    .header-btn{
        padding: 3px 1vh !important;
    }
    .main-block{
        margin: 5%;
    }
}
@media (width>1430px) {
    .header-btn{
        padding: 3px 6vh !important;
    }
    .main-block{
        margin: 15%;
    }
}
@media (orientation: portrait){
    .header{
        height: 25vh;
    }
    .header-btns{
        display: none;
    }
    .main-block{
        padding: 10px;
        font-size: 5vw;
        text-align: left;
    }
    h1{
        font-size: 250%;
    }
    h2{
        font-size: 11vw;
    }
    .main-block>img{
        width: 85%;
        margin: 3%;
    }
    .show-menu{
        width: 50%;
    }
}
@media (orientation: landscape){
    .header{
        height: 80vh;
    }
    .header-btns{
        display: block;
    }
    .main-block{
        padding: 30px;
        font-size: 1.5vw;
        text-align: justify;
    }
    h1{
        font-size: 5vw;
        -webkit-text-stroke: 2px #000000;
    }
    h2{
        font-size: 3vw;
    }
    .main-block>img{
        width: 55%;
        margin-left: 20%;
    }
    .show-menu{
        width: 15%;
    }
}



html{
    scroll-behavior: smooth;
}
body{
    background-color: #003049;
    color: #ffffff;
    margin: 0;
    font-family: 'Comic Sans Ms';
}
h1{
    color: #F77F00;
    text-align: center;
    margin: 0;
    padding-top: 15%;
    text-shadow: 2px 4px 25px #000000;
}
h2{
    color: #F77F00;
    text-align: center;
    text-decoration: underline;

}
.header{
    z-index: 2;
    background-image: url(images/header-bg.png);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
}
header{
    top: 0;
    background-color: #FCBF49;
    width: 100%;
    display: flex;
    position: fixed;
}
.header-btns{
    flex-grow: 1 !important;
}
.header-btn{
    text-align: center;
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #fcbf49 !important;
    color: #d62828 !important;
    border: 2px solid #fcbf49 !important;
    border-radius: 7px !important;
    font-size: 16px !important; 
    transition: all 0.6s ease !important;
}
.header-btn:hover{
    text-decoration: none !important; 
    background-color: #f77f00 !important;
    color: #000000 !important;
    border-color: #000000 !important;
    border-radius: 7.5px !important;
}
.header-img{
    width: 3vh;
    height: 3vh;
    top: 0;
    margin: 2px;
}
.lang-btn{
    display: inline-block !important;
    text-align: center;
    text-decoration: none !important;
    border: 2px solid #fcbf49 !important;
    border-radius: 7px !important;
    font-size: 16px !important;
    margin-right: 20px;
}
.main-block{
    background-color: rgba(255, 255, 255, 0.1);
    border: #003049;
    border-radius: 20px;
}
.main-block>img{
    border: #003049;
    border-radius: 20px;
}
.menu{
    display: none;
}
.menu-btn{
    width: 80%;
    height: 5%;
    margin: 20px;
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #fcbf49 !important;
    color: #d62828 !important;
    border: 2px solid #fcbf49 !important;
    border-radius: 7px !important;
    font-size: 2vh !important; 
    transition: all 0.6s ease !important;
}
.menu-btn:hover{
    text-decoration: none !important; 
    background-color: #f77f00 !important;
    color: #000000 !important;
    border-color: #000000 !important;
    border-radius: 7.5px !important;
}
.show-menu{
    border-radius: 25px;
    top: 3.5%;
    display: block;
    padding: 20px;
    z-index: 1;
    position: fixed;
    background-color: #F77F00;
    text-align: center;
}
.open-menu-btn{
    width: 3vh;
    height: 3vh;
    top: 0;
    margin: 2px;
    opacity: 0.8;
    cursor: pointer;
}
.menu-btn:hover{
    opacity: 1;
}
.links-btns{
    flex-grow: 1;
}
.links-btn{
    width: 3vh;
    height: 3vh;
    top: 0;
    margin: 2px;
    opacity: 0.8;
    cursor: pointer;
}
.reminder{
    display: flex;
    top: 35px;
    position: fixed;
    color: white;
    z-index: 2;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 20px;
}
.reminder>img{
    width: 1.5vh;
    margin-right: 3px;
    margin-left: 3px;
}